<launch>
  <arg name="debug" default="false"/>
  <arg name="save_log" default="false"/>
  <arg name="workspace_folder" default="$(find skiros)"/>
  <arg name="fake_wm" default="false"/>
  <arg name="scene_name" default=""/>
  
  <arg unless="$(arg debug)" name="prefix" value="xterm -e" />
  <arg if="$(arg debug)" name="prefix" value="xterm -e gdb -ex run --args" />
	
  <param name="skiros/save_log" type="bool" value="$(arg save_log)" /> <!-- If true all nodes output is stored in skiros/log -->

  <param name="skiros/owl_workspace" type="string" value="$(arg workspace_folder)/owl/" />
  <param name="skiros/scene_workspace" type="string" value="$(arg workspace_folder)/scenes/" />
  <param name="skiros/scene_name" type="string" value="$(arg scene_name)" />
  
  <node launch-prefix="$(arg prefix)" name="skiros_wm" pkg="skiros_world_model" type="world_model_node" respawn="true" output="screen" />
  <node launch-prefix="$(arg prefix)" name="skiros_task_manager" pkg="skiros_task" type="task_manager_node" respawn="true" output="screen" />
  <node name="skiros_gui" pkg="rqt_gui" type="rqt_gui" args="-s skiros" output="screen" />
</launch>
