<launch>
  <arg name="debug" default="false"/>
  <arg name="save_log" default="false"/>
  <arg name="workspace_folder" default="$(find skiros)"/>
	<arg name="scene_name" default="fake_scene.xml"/>
  <arg name="only_robot" default="false"/>
  <arg name="only_scene" default="false"/>
  <!-- NOTE: aau_stamina_robot for the ur10 robot in aau, stamina_robot for the fanuc robot in PSA -->
  <arg name="robot_name" default="aau_stamina_robot"/>

	<include unless="$(arg only_robot)" file="$(find skiros)/launch/skiros_task_and_wm.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="save_log" value="$(arg save_log)"/>
		<arg name="workspace_folder" value="$(arg workspace_folder)"/>
 		<arg name="scene_name" default="$(arg scene_name)"/>
  </include>

	<include unless="$(arg only_scene)" file="$(find skiros)/launch/skiros_skill_mgr.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="save_log" value="$(arg save_log)"/>
		<arg name="robot_name" value="$(arg robot_name)"/>
  </include>
</launch>
