<launch>
  <arg name="workspace_folder" default="$(find skiros)"/>
  <arg name="scene_name" default="fake_scene.xml"/>
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="prefix" value="xterm -e" />
  <arg if="$(arg debug)" name="prefix" value="xterm -e gdb -ex run --args" />
  
  <param name="skiros/owl_workspace" type="string" value="$(arg workspace_folder)/owl/" />
  <param name="skiros/scene_workspace" type="string" value="$(arg workspace_folder)/scenes/" />
  <param name="skiros/scene_name" type="string" value="$(arg scene_name)" />

  <node launch-prefix="$(arg prefix)" name="skiros_wm" pkg="skiros_world_model" type="world_model_node" respawn="true" output="screen" />
  <node launch-prefix="$(arg prefix)" name="skiros_wm_test" pkg="skiros_world_model" type="test_wm_interface" respawn="true" output="screen" />
</launch>
